@import url("https://fonts.googleapis.com/css2?family=Playwrite+CA:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Flores nos cantos */
.flores {
  position: absolute;
  opacity: 0.9;
  max-width: 500px;
  height: auto;
}

.flores.top-left {
  position: fixed;
  max-width: 100%;
  top: -10px;
  left: -10px;
}

.flores.bottom-right {
  position: fixed;
  max-width: 100%;
  height: auto;
  bottom: 0;
  right: 0;
}

/* Header */
.conteiner__header_h1 {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.header_h1 {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-size: clamp(2.5rem, 6vw, 4rem);
  font-style: italic;
  color: #3e6b3e;
  text-align: center;
}

.conteiner_h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 1.2rem;
}

.h3_titulo {
  font-family: "Playwrite CA", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: black;
}

/* Corpo */
.conteiner_corpo__h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1rem 0;
}

.h1_corpo {
  font-family: "Tangerine", cursive;
  font-size: 5rem;
  color: #3e6b3e;
}

/* Datas e localização */
.data {
  text-align: center;
  font-size: 1.2rem;
  font-family: "Charm", cursive;
  color: #8c6a3e;
  margin-top: 2rem;
}

.data strong {
  font-size: 2rem;
  margin: 0 8px;
  color: inherit;
}
.conteiner_h4 {
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin-top: 2rem;
}
.h4_titulo {
  font-family: "Charm", cursive;
  text-align: center;
  font-size: 1.2rem;
  color: #8c6a3e;
  margin-top: 30px;
}

/* Botões */
.buttons {
  text-align: center;
  position: relative;
  z-index: 2;
  margin-top: 30px;
}

.button__presente {
  background: #3e6b3e;
  color: #fff;
  border: none;
  padding: 12px 25px;
  margin: 10px;
  border-radius: 8px;
  font-size: 1rem;
  width: 80%;
  max-width: 200px;
}
.button__naoPresente {
  background: #3e6b3e;
  color: #fff;
  border: none;
  padding: 12px 25px;
  margin: 10px;
  border-radius: 8px;
  font-size: 1rem;
  width: 80%;
  max-width: 200px;
}

/* Formulário */
.conteiner_nome__presensa {
  text-align: center;
  margin-top: 1rem;
  display: none;
  text-align: center;
  position: relative;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.texto_de__presensa {
  color: #3e6b3e;
  font-family: "Playwrite CA", sans-serif;
}

.nome_presensa,
.qtd_pessoas {
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  text-align: center;
  margin: 0.3rem 0;
  font-family: inherit;
  border: 1px solid #ccc;
  outline: none;
}

.nome_presensa {
  width: 10rem;
}

.qtd_pessoas {
  width: 4rem;
}

.botao_enviar {
  background: #3e6b3e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: 0.3s ease;
}

.botao_enviar:hover {
  background: #2d4e2d;
}

/* Mensagem de sucesso */
.mensagem_sucesso {
  display: none;
  color: green;
  font-size: 2rem;
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
  font-family: "Charm", cursive;
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .header_h1 {
    font-size: 2.5rem;
  }

  .h1_corpo {
    font-size: 3rem;
  }

  .h3_titulo {
    font-size: 0.8rem;
  }

  .buttons button {
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 200px;
    padding: 12px;
    font-size: 1rem;
  }

  .nome_presensa {
    width: 80%;
    max-width: 250px;
  }

  .qtd_pessoas {
    width: 60px;
  }

  .flores {
    max-width: 500px;
    position: relative;
    z-index: -1;
  }
}

@media screen and (max-width: 480px) {
  .header_h1 {
    font-size: 2rem;
  }

  .h1_corpo {
    font-size: 1.5rem;
  }

  .buttons button {
    font-size: 0.9rem;
    padding: 10px;
  }

  .flores {
    max-width: 250px;
    position: relative;
    z-index: -1;
  }
}

@media screen and (max-width: 320px) {
  .header_h1 {
    font-size: 2rem;
  }

  .h1_corpo {
    font-size: 3rem;
  }

  .buttons button {
    font-size: 0.9rem;
    padding: 10px;
  }
  .h4_titulo {
    font-size: 1rem;
  }
  .flores {
    max-width: 150px;
    position: relative;
    z-index: -1;
  }
}
@media screen and (max-width: 480px) {
  .header_h1 {
    font-size: 2rem;
  }

  .h1_corpo {
    font-size: 3rem;
  }

  .buttons button {
    font-size: 0.9rem;
    padding: 10px;
  }
  .h4_titulo {
    font-size: 1rem;
  }
  .flores {
    max-width: 150px;
    position: relative;
    z-index: -1;
  }
}
